.mainSection__filter{

    &--btn{
        border: none;
        background-color: inherit;
        margin: 10px 25px 10px 0px;
        cursor: pointer;
        font-size: larger;
        transition: .8s;

        &:hover{
            border-bottom: 2px solid black;
            transition: .5s;
            scale: 1.3;
        }
    }
}