* {
    box-sizing: border-box;
}

body {
    margin:  0;
    background-color: #e9eaee;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-image: url(./bg-img/OldTownBooks.webp);
    list-style-type: none;

}

a {
    display: inline-block;
    color: inherit;
    text-decoration: none;
}