* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #e9eaee;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-image: url(./bg-img/OldTownBooks.webp);
  list-style-type: none;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

.header {
  height: 80px;
  background-color: rgb(230, 111, 60);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header__shoppingIcon {
  color: rgb(82, 56, 56);
  font-size: xx-large;
}
.header__shoppingIcon--number {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #f3c560;
  color: white;
  margin-bottom: 30px;
  text-align: center;
}
.header__title {
  color: rgb(82, 56, 56);
  font-size: x-large;
  margin-right: 700px;
  margin-left: 40px;
  margin-top: 7px;
}
.header__nav {
  color: rgb(82, 56, 56);
  font-size: large;
  margin-left: 30px;
  cursor: pointer;
}
.header__nav__underline {
  width: 0;
  height: 2px;
  margin-top: 7px;
  background-color: rgb(82, 56, 56);
  border-radius: 4px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.header__nav:hover .header__nav__underline {
  width: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.slide__img {
  width: 1600px;
  height: 400px;
}

.mainSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.mainSection__filter {
  background-color: rgb(247, 190, 119);
  position: sticky;
  top: 7%;
  margin-top: 50px;
  width: 15%;
  border-radius: 15px;
}
.mainSection__filter--dis {
  display: none;
}
.mainSection__library {
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 25px;
}

.library__product {
  width: 190px;
  height: 350px;
  margin-bottom: 50px;
  margin-right: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 3px;
  position: relative;
  overflow-y: hidden;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
.library__product--img {
  width: 180px;
  height: 260px;
}
.library__product:hover {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}
.library__product:hover .library__product--shadow {
  -webkit-transition: 0.6s;
  transition: 0.6s;
  top: 25px;
}
.library__product--shadow {
  background-color: rgba(34, 20, 4, 0.5);
  width: 180px;
  height: 260px;
  position: absolute;
  top: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
}
.library__product--shadow--title {
  font-size: large;
  font-weight: 900;
  margin-bottom: 30px;
}
.library__product--shadow--author {
  font-size: small;
  font-weight: 900;
}
.library__product--shadow--date {
  font-size: small;
  font-weight: 900;
}
.library__product--shadow--lang {
  font-size: small;
  font-weight: 900;
}
.library__product--shadow--genre {
  font-size: small;
  font-weight: 900;
}
.library__btn {
  margin-top: 15px;
  padding: 5px;
  border-radius: 7px;
  border: 1px solid black;
  background-color: rgb(226, 197, 161);
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.library__btn:hover {
  scale: 1.09;
}

.favBook {
  width: 80%;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: rgb(91, 113, 88);
  border: 10px solid rgb(37, 70, 36);
  border-bottom-left-radius: 75px;
  border-top-right-radius: 75px;
  margin-bottom: 20px;
  margin-right: 50px;
}
.favBook__data {
  height: 100%;
  margin-right: 65px;
  line-height: 12px;
}
.favBook__btn {
  margin: auto;
  width: 180px;
  height: 50px;
  background-color: #336941;
  color: white;
  font-size: x-large;
  cursor: pointer;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
.favBook__btn:hover {
  scale: 1.2;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
.favBook__img {
  height: 100%;
  border-bottom-left-radius: 65px;
}

.mainSection__filter--btn {
  border: none;
  background-color: inherit;
  margin: 10px 25px 10px 0px;
  cursor: pointer;
  font-size: larger;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}
.mainSection__filter--btn:hover {
  border-bottom: 2px solid black;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  scale: 1.3;
}/*# sourceMappingURL=style.css.map */